<p>
    <b>Frede Blaabjerg</b> (S’86–M’88–SM’97–F’03) was with ABB-Scandia, Randers, Denmark, from 1987 to 1988. From 1988
    to
    1992,
    he got the PhD degree in Electrical Engineering at Aalborg University in 1995. He became an Assistant
    Professor in
    1992, an Associate Professor in 1996, and a Full Professor of power electronics and drives in 1998. From
    2017 he
    became a Villum Investigator. He is honoris causa at University Politehnica Timisoara (UPT), Romania and
    Tallinn
    Technical University (TTU) in Estonia.<br><br>

    His current research interests include power electronics and its applications such as in wind turbines, PV
    systems,
    reliability, harmonics and adjustable speed drives. He has published more than 600 journal papers in the
    fields of
    power electronics and its applications. He is the co-author of four monographs and editor of ten books in
    power
    electronics and its applications.<br><br>

    He has received 33 IEEE Prize Paper Awards, the IEEE PELS Distinguished Service Award in 2009, the EPE-PEMC
    Council
    Award in 2010, the IEEE William E. Newell Power Electronics Award 2014, the Villum Kann Rasmussen Research
    Award
    2014, the Global Energy Prize in 2019 and the 2020 IEEE Edison Medal. He was the Editor-in-Chief of the IEEE
    TRANSACTIONS ON POWER ELECTRONICS from 2006 to 2012. He has been Distinguished Lecturer for the IEEE Power
    Electronics Society from 2005 to 2007 and for the IEEE Industry Applications Society from 2010 to 2011 as
    well as
    2017 to 2018. In 2019-2020 he served as a President of IEEE Power Electronics Society. He has been
    Vice-President of
    the Danish Academy of Technical Sciences. <br><br>

    He is nominated in 2014-2020 by Thomson Reuters to be between the most 250 cited researchers in Engineering
    in the
    world.

</p>