Henning Schulzrinne was the Chief Technology Officer (CTO) for the United States Federal Communications Commission,
having been appointed to that role on December 19, 2011 to 2014.Previously he was chair and Julian Clarence Levi
Professor of the Computer Science department at Columbia University. He is a co-chair of the Internet Technical
Committee of the IEEE Communications Society.<br><br>
Schulzrinne studied engineering management at the Department of Electrical Engineering and Information Technology of the
German Technische Universität Darmstadt in Darmstadt, where he earned his Vordiplom (cf. Diplom), then went on to earn
his M.Sc. at the University of Cincinnati and his Ph.D. at the University of Massachusetts Amherst. <br><br>
Schulzrinne has contributed to standards. He co-designed the Session Initiation Protocol along with Mark Handley, the
Real Time Streaming Protocol, the Real-time Transport Protocol, the General Internet Signaling Transport Protocol, part
of the Next Steps in Signaling protocol suite. He was elected as an ACM Fellow (2014) for contributions to the design of
protocols, applications, and algorithms for Internet multimedia.<br><br>