Marco Liserre received the MSc and PhD degree in Electrical Engineering from the Bari Polytechnic, respectively in 1998
and 2002. He has been Associate Professor at Bari Polytechnic and from 2012 Professor in reliable power electronics at
Aalborg University (Denmark). From 2013 he is Full Professor and he holds the Chair of Power Electronics at Kiel
University (Germany). At Kiel University he is leading a team of 25 researchers with a 2 Million Euro annual budget
through third-party funded projects, with a Power Electronics Laboratory, a Medium Voltage Laboratory and a Laboratory
on Batteries and Energy Conversion, in cooperation with colleagues in material science, approved for 2 Million Euro. He
has been leading in the last 7 years’ third-party projects for more than 13 Million Euro (of which 5 % direct company
assignment) having responsibility role, among the other, within the strategic governmental 10 years’ initiative
“Copernicus” in Germany for the Energy Change towards 80 % renewable based energy society and in a priority program of
the German research Foundation DFG within a cooperative project with EPFL.

<br><br>
Notably he has been awarded in 2013 with an ERC Consolidator Grant (European Excellence Grants) for the project “The
Highly Efficient And Reliable smart Transformer (HEART), a new Heart for the Electric Distribution System”.
He has published 500 technical papers (1/3 of them in international peer-reviewed journals) and a book. These works have
received more than 35000 citations. Marco Liserre is listed in ISI Thomson report “The world’s most influential
scientific minds” from 2014.

<br><br>

He is fellow of IEEE (achieved at the age of 38) and member of IAS, PELS, PES and IES. He has been serving all these
societies in different capacities. He has received the IES 2009 Early Career Award, the IES 2011 Anthony J. Hornfeck
Service Award, the 2014 Dr. Bimal Bose Energy Systems Award, the 2011 Industrial Electronics Magazine best paper award
in 2011 and 2020 and the Third Prize paper award by the Industrial Power Converter Committee at ECCE 2012, 2012, 2017
IEEE PELS Sustainable Energy Systems Technical Achievement Award and the 2018 IEEE-IES Mittelmann Achievement Award,
which is the highest award of the IEEE-IES.