Professor Ranjan Gangopadhyay, currently a Research Professor in the Department of Electronics and Communication
Engineering, as well as the Centre Lead of one of the most vibrant research centres of LNMIIT, the Centre of Excellence
for Next Generation Communication and Networking (C-NGCN). He has guided so far 10 PhD students and has published more
than 135 research papers in journals and conferences.

<br><br>

Before joining LNMIIT as a Distinguished Professor in 2008, Prof. Gangopadhyay, was Professor and Head of E&ECE, Indian
Institute of Technology (IIT), Kharagpur and also served as an Emeritus Professor in G. S. Sanyal School of
Telecommunication, IIT-Kharagpur. He was Visiting Professor in the University of Parma, Italy; Chonbuk National
University, South Korea and Scuola Superiore Sant’Anna, Pisa, Italy. He was a member of the Scientific Advisory
Committee in Scuola Sant’Anna, Pisa, Italy for three consecutive terms. He also received European Commission Senior
Post-Doctoral Fellowship, INSA-Royal Society Fellowship (x2); JSPS (Japan) Senior Fellowship and CIDA (Canada)
Fellowship.

<br><br>

He was the Chief Investigator of several bilateral foreign projects: European Commission, Indo-Italy, Indo-Japan,
Indo-UK and of the projects funded by National Agencies: DST, DOE, ISRO, MHRD. At LNMIIT, as the Principal Investigator,
he has successfully completed a high value (~1.56 crores) project titled, “Mobile Broadband Service Support for
Cognitive Radio” sponsored by ITRA, Government of India. He also served as a Referee for Peer Review Evaluation,
European Commission till 2013.