
<p style="text-align:justify">
    The world is becoming more and more electrified combined with that the consumption is steadily increasing – at the
    same time there is a large transition of power generation from fossil fuel to renewable energy based which all
    together challenges the modern power system but also gives many opportunities. We see also now big steps being taken
    to electrify the transportation – both better environment as well as higher efficiency are driving factors. One of
    the most important technologies to move this forward is the power electronics technology which has been emerging for
    decades and still challenges are seen in the technology and the applications it is used. This presentation will be a
    little forward looking (Quo Vadis) in some exciting research areas in order further to improve the technology and
    the systems it is used in. Following main topics will be discussed. </p><br>
<ul style="text-align:justify">
    
    <li>The evolution of power devices</li>
    <li>Renewable Generation</li>
    <li>Reliability in power electronics</li>
    <li>Power Electronic based Power System stability</li>
</ul>
<br>
<p style="text-align:justify">At last some discussions about other hot topics will be given.

</p>
