<p style="text-align:justify">
    With the spectacular technological advances in wireless technology, the 5G - the new Radio has a great promise to
    expand its range of applications and versatility. Specifically, the target services aim at accomplishing enhanced
    mobile broadband ultra-reliable low-latency and massive machine type communication. With the recent upsurge of
    diversified mobile applications supported by AI and deep learning, the next generation radio (6G) will cater the
    needed communication services for 2030 using the THz-band. The Talk will dwell on multi-perspective visions,
    challenges, and prospects of both new Radio 5G and the XG Radio wireless.
</p>