{%extends "publications-mang.html"%}


{% block title %}
<title>
    Website & ICT Support
</title>
{% endblock title %}


{% block header %}
<h2><b>Website & ICT Support</b></h2>
{% endblock header %}


{% block content %}

<section>
    <div class="card">
        <div class="card-header" style="background-color: #04012e;color:white; font-size:20px; font-family:myfont">
            <p style="vertical-align:middle;   "> Website & ICT Support</p>

        </div>
        <div class="card-body" style="font-family:myfont; font-size:18px">
            <li><span style="color: #000000;"><b> Major Kazi Newaj Faisal, EME, EECE DEPT, MIST</b></span></li>
            <hr>
            <li><span style="color: #000000;"><b>Lecturer Md. Saif Hassan Onim, EECE DEPT, MIST </b></span></li>
            <hr>
            <li><span style="color: #000000;"><b>Lecturer Dibaloke Chanda, EECE DEPT, MIST </b></span></li>

        </div>
    </div>
</section>

{% endblock content %}